.container {
  max-width: 40rem;
  margin: auto;
}

.title {
  h1, h2, h3 {
    margin-bottom: 1rem;
  }
}

.links {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, 30px);
}


.MapMyReps {
  width: 100%;
  max-width: 12rem;
  display: block;
}

.projects {
  h4 {
    display: inline-block;
    margin: 0;
    font-weight: bold;
    color: inherit;
  }
}
